@inherits LayoutComponentBase

<main class="bg-slate-900 text-white min-h-screen">
    <header id="blazor-error-ui" data-nosnippet class="hidden bg-red-900 text-white p-4 rounded flex items-center justify-between mb-2">
        <span>An unhandled error has occurred.</span>
    </header>
    <article class="px-4 py-4">
        @Body
    </article>
</main>